<table id="layout" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>№</th>
        <th>Количество комнат</th>
        <th>Тип</th>
        <th>Этаж</th>
        <th>Количество этажей</th>
        <th>Жилая площадь</th>
        <th>Общая площадь</th>
        <th>Площадь кухни</th>
        <th>Стоимость</th>
        <th>Схема</th>
        <th>Материал</th>
        <th>Ванная</th>
        <th>Балкон</th>
        <th>Состояние</th>
        <th>Район</th>
        <th>Ориентир</th>
        <th>Улица</th>
        <th>Номер дома</th>
    </tr>
    </thead>
    <tbody>
        <tr ng-repeat="flat in flats">
            <td>{{flat.id}}</td>
            <td>{{flat.count_rooms}}</td>
            <td>{{flat.type}}</td>
            <td>{{flat.floor}}</td>
            <td>{{flat.count_of_floors}}</td>
            <td>{{flat.living_square}}</td>
            <td>{{flat.total_square}}</td>
            <td>{{flat.kitchen_square}}</td>
            <td>{{flat.cost}}</td>
            <td>{{flat.schema}}</td>
            <td>{{flat.material}}</td>
            <td>{{flat.bathroom}}</td>
            <td>{{flat.balcony}}</td>
            <td>{{flat.state}}</td>
            <td>{{flat.region}}</td>
            <td>{{flat.reference_point}}</td>
            <td>{{flat.street}}</td>
            <td>{{flat.house_number}}</td>
        </tr>
    </tbody>
</table>