<table id="layout" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
    <tr>
        <th>№</th>
        <th>Количество комнат</th>
        <th>Тип</th>
        <th>Количество этажей</th>
        <th>Жилая площадь</th>
        <th>Общая площадь</th>
        <th>Площадь кухни</th>
        <th>Площадь двора</th>
        <th>Стоимость</th>
        <th>Материал</th>
        <th>Водопровод</th>
        <th>Вода</th>
        <th>Газ</th>
        <th>Электричество</th>
        <th>Состояние</th>
        <th>Район</th>
        <th>Ориентир</th>
        <th>Улица</th>
        <th>Номер дома</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="house in houses">
        <td><a href="" ui-sref="house_details({id: house.id})">{{house.id}}</a></td>
        <td>{{house.count_rooms}}</td>
        <td>{{house.type}}</td>
        <td>{{house.count_of_floors}}</td>
        <td>{{house.living_square}}</td>
        <td>{{house.total_square}}</td>
        <td>{{house.kitchen_square}}</td>
        <td>{{house.area_square}}</td>
        <td>{{house.cost}}</td>
        <td>{{house.material}}</td>
        <td>{{house.sewage}}</td>
        <td>{{house.water}}</td>
        <td>{{house.gas}}</td>
        <td>{{house.electricity}}</td>
        <td>{{house.state}}</td>
        <td>{{house.region}}</td>
        <td>{{house.reference_point}}</td>
        <td>{{house.street}}</td>
        <td>{{house.house_number}}</td>
    </tr>
    </tbody>
</table>