<div class="three">
    <div class="two">
        <div class="col">
            <table class="table table-condensed offer-values">
                <tbody>
                <tr>
                    <th>Номер</th>
                    <td>
                        <span>188</span>
                    </td>
                </tr>
                <tr>
                    <th>Дата добавления</th>
                    <td>
                        <span>06.10.2014 14:22</span>
                    </td>
                </tr>
                <tr>
                    <th>Ответственный</th>
                    <td>
                        <span>Кормилицын Андрей Сергеевич</span>
                    </td>
                </tr>
                <tr>
                    <th>ФИО/Название</th>
                    <td>
                        <span>Евгений</span>
                    </td>
                </tr>
                <tr>
                    <th>Тип клиента</th>
                    <td>
                        <span >Физ. лицо</span>
                    </td>
                </tr>
                <tr>
                    <th>Регион</th>
                    <td>
                        <span>обл Московская</span>
                    </td>
                </tr>
                <tr>
                    <th>Округ</th>
                    <td>
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <th>Район области</th>
                    <td>
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <th>Город</th>
                    <td>
                        <span>г Подольск</span>
                    </td>
                </tr>
                <tr>
                    <th>Населенный пункт</th>
                    <td>
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <th>Район города</th>
                    <td>
                        <span>р-н Ново-Сырово</span>
                    </td>
                </tr>
                <tr>
                    <th>Улица</th>
                    <td>
                        <span>пр-кт Юных Ленинцев</span>
                    </td>
                </tr>
                <tr>
                    <th>Дом/корпус/квартира</th>
                    <td>
                        <span>34</span>
                    </td>
                </tr>
                <tr>
                    <th>Метро</th>
                    <td>
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <th>Цена, руб.</th>
                    <td>
                        <span>15 300 000.00</span>
                    </td>
                </tr>
                <tr>
                    <th>Цена собственника (руб).</th>
                    <td>
                        <span>15 000 000.00</span>
                    </td>
                </tr>
                <tr >
                    <th>Дельта</th>
                    <td>
                        <span >300 000.00</span>
                    </td>
                </tr>
                <tr>
                    <th>Этаж</th>
                    <td>
                        <span>10</span>
                    </td>
                </tr>
                <tr>
                    <th>Этажность</th>
                    <td>
                        <span>11</span>
                    </td>
                </tr>
                <tr >
                    <th>Шоссе</th>
                    <td>
                        <span>Варшавское</span>
                    </td>
                </tr>
                <tr >
                    <th>ОТ мкад (км)</th>
                    <td>
                        <span>14</span>
                    </td>
                </tr>
                <tr >
                    <th>Количество комнат</th>
                    <td>
                        <span>6</span>
                    </td>
                </tr>
                <tr>
                    <th>Площадь комнат (м, кв)</th>
                    <td>
                        <span>34/26/15/12/12/9</span>
                    </td>
                </tr>
                <tr>
                    <th>Тип комнат</th>
                    <td>
                        <span>Раздельный</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table table-condensed offer-values" >
                <tbody>
                <tr>
                    <th>Общая площадь (м, кв)</th>
                    <td>
                        <span>160</span>
                    </td>
                </tr>
                <tr>
                    <th>Жилая площадь (м, кв)</th>
                    <td>
                        <span>108</span>
                    </td>
                </tr>
                <tr >
                    <th>Площадь кухни (м, кв)</th>
                    <td>
                        <span>10</span>
                    </td>
                </tr>
                <tr>
                    <th>Кол-во санузолов</th>
                    <td>
                        <span>2</span>
                    </td>
                </tr>
                <tr >
                    <th>Тип санузла</th>
                    <td>
                        <span>Совмещенный</span>
                    </td>
                </tr>
                <tr >
                    <th>Ремонт</th>
                    <td>
                        <span >Косметический</span>
                    </td>
                </tr>
                <tr >
                    <th>Полы</th>
                    <td>
                        <span>Доска</span>
                    </td>
                </tr>
                <tr >
                    <th>Балкон/лоджия</th>
                    <td>
                        <span>2 лоджии</span>
                    </td>
                </tr>
                <tr >
                    <th>Тип дома</th>
                    <td>
                        <span>Кирпичый</span>
                    </td>
                </tr>
                <tr >
                    <th>Основание</th>
                    <td>
                        <span>Договор купли продажи</span>
                    </td>
                </tr>
                <tr >
                    <th>Свидетельство</th>
                    <td>
                        <span >Более 3-х лет</span>
                    </td>
                </tr>
                <tr >
                    <th>Статус</th>
                    <td>
                        <span>Альтернативная продажа</span>
                    </td>
                </tr>
                <tr>
                    <th>Кол-во собственников</th>
                    <td>
                        <span >1</span>
                    </td>
                </tr>
                <tr >
                    <th>Опека</th>
                    <td>
                        <span></span>
                    </td>
                </tr>
                <tr>
                    <th>Наличие телефона</th>
                    <td>
                        <span >Нет</span>
                    </td>
                </tr>
                <tr >
                    <th>Кол-во пассажирских лифтов</th>
                    <td>
                        <span >1</span>
                    </td>
                </tr>
                <tr >
                    <th>Кол-во грузовых лифтов</th>
                    <td>
                        <span >0</span>
                    </td>
                </tr>
                <tr >
                    <th>Куда выходят окна</th>
                    <td>
                        <span>Двор и улица</span>
                    </td>
                </tr>
                <tr >
                    <th>Наличие мебели в жилых комнатах</th>
                    <td>
                        <span >Нет</span>
                    </td>
                </tr>
                <tr >
                    <th>Наличие мебели на кухне</th>
                    <td>
                        <span>Нет</span>
                    </td>
                </tr>
                <tr >
                    <th>Наличие стиральной машины</th>
                    <td>
                        <span >Нет</span>
                    </td>
                </tr>
                <tr >
                    <th>Наличие холодильника</th>
                    <td>
                        <span>Нет</span>
                    </td>
                </tr>
                <tr>
                    <th>Наличие телевизора</th>
                    <td>
                        <span>Нет</span>
                    </td>
                </tr>
                <tr >
                    <th>Возьмут с детьми</th>
                    <td>
                        <span >Нет</span>
                    </td>
                </tr>
                <tr >
                    <th>Возьмут с животными</th>
                    <td>
                        <span>Нет</span>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col">
        <div class="alert alert-info">
            Статус: <b>Актуальные</b>
            <span style="display: none;">
                                   
                    </span>
        </div>
        <div class="alert alert-info alert-with-content">Описание</div>
        <div class="alert-content alert-info">Продается прекрасная двухуровневая квартира общей площадью 160 м2. Первый этаж это комната - прихожая 35 м2, комната 27 м2, кухня 10м2. Второй этаж: 4 комнаты 15+12+12+9 м2 и с/у совмещенный. В данной квартире 2 с/у, 2 остекленных лоджии и один балкон. 4 года назад был сделан ремонт, установлено 5 кондиционеров. Развитая инфраструктура района, рядом школа, детский садик, сетевые продуктовые магазины, банк, остановка общественного транспорта. До жд станции Силикатная 6 минут прогулочным шагом. Прекрасный выезд на Москву. </div>
        <div class="alert alert-pale">
            <span>Вконтакте:</span>
            <span>08.03.2015 14:31:22</span>
        </div>
        <div class="alert alert-pale alert-with-content">Комментарий</div>
        <div class="alert-content alert-pale">альтернатива на квартиру в столице (Орехово зуево), у собственника есть заемщик спосоный одолжить ему денег на покупку той квартиры, но при условии что эта квартира продастся. (данная схема нужна что бы не делать цепочку) реально хочет получить 15 000 000</div>
        <div class="alert alert-pale alert-with-content">Адрес строкой</div>
        <div class="alert-content alert-pale" >обл Московская, г Подольск, р-н Ново-Сырово, пр-кт Юных Ленинцев, 34</div>
    </div>
</div>
<div class="two">

    <div class="col">
        <div class="alert alert-success alert-with-content"><h3>Расположение на карте</h3></div>
        <div class="alert-content alert-success">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d641.2292471919415!2d36.240464829263615!3d49.99416576086357!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a0ee8f0287ef%3A0x622fc959c40c8c66!2z0LLRg9C7LiDQlNC10LzRh9C10L3QutCwLCA3LCDQpdCw0YDQutGW0LIsINCl0LDRgNC60ZbQstGB0YzQutCwINC-0LHQu9Cw0YHRgtGM!5e0!3m2!1sru!2sua!4v1446732353729" width="570" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

    </div>
    <div class="col">
        <div class="alert alert-success alert-with-content"><h3>Фотографии помещения</h3></div>
        <div class="alert-content alert-success">
            <div class="photo"><a href="img/ph-1.jpg" target="_blank"><img src="img/ph-1.jpg" alt=""></a></div>
            <div class="photo"><a href="img/ph-2.jpg" target="_blank"><img src="img/ph-2.jpg" alt=""></a></div>
            <div class="photo"><a href="img/ph-1.jpg" target="_blank"><img src="img/ph-1.jpg" alt=""></a></div>
            <div class="photo"><a href="img/ph-2.jpg" target="_blank"><img src="img/ph-2.jpg" alt=""></a></div>
            <div class="photo"><a href="img/ph-1.jpg" target="_blank"><img src="img/ph-1.jpg" alt=""></a></div>
            <div class="photo"><a href="img/ph-2.jpg" target="_blank"><img src="img/ph-2.jpg" alt=""></a></div>
        </div>
    </div>
</div>
